@page
@using Packt.Shared
@model Northwind.Web.Pages.CustomerDetailModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div class="container">
    <div class="customercard"></div>
    <p>@Model.Customer?.CompanyName</p>
    <p>@Model.Customer?.CustomerId</p>

    @foreach ( var item in @Model.Orders ) {
        <p>@item.OrderId</p>
        <p>@item.ShipAddress</p>
        <p>@item.ShippedDate</p>
    }
</div>
</body>
</html>